<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pig Latinizer</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <p><%= @piglatinizer.piglatinize(@text) %></p>
  </body>
</html>
